/* Custom CSS Styles */

/* Fonts */
@font-face {
  font-family: 'Monad';
  src: url('../fonts/Monad.eot') format('eot');
  src: url('../fonts/Monad.otf') format('otf'),
       url('../fonts/Monad.ttf')  format('truetype'),
       url('../fonts/Monad.woff') format('woff');

}

@font-face {
  font-family: 'DIN Light Regular';
  src: url('../fonts/DIN Light Regular.eot') format('eot');
  src: url('../fonts/DIN Light Regular.otf') format('otf'),
       url('../fonts/DIN Light Regular.ttf')  format('truetype'),
       url('../fonts/DIN Light Regular.woff') format('woff');

}

/* Slide BG Colors */
.bg-empowered {
  background-color: #6F0001;
  color: #FFF;
  text-shadow: 0 1px 0 #013;
}

.bg-empowered select,
.bg-empowered textarea,
.bg-empowered .button,
.bg-empowered button,
.bg-empowered button:hover,
.bg-empowered input,
[class*='bg-gradient-'] .button,
[class*='bg-'] a.button.ghost {
  border-color: #fff; }

.bg-empowered .border {
    border-color: white !important;
}

.bg-empowered .border li {
    border-color: white !important;
}

.bg-vcg {
  background-color: rgba(0, 166, 180, 1.00);
  color: #FFF;
  text-shadow: 0 1px 0 #013;
}

.bg-vcg select,
.bg-vcg textarea,
.bg-vcg .button,
.bg-vcg button,
.bg-vcg button:hover,
.bg-vcg input,
[class*='bg-gradient-'] .button,
[class*='bg-'] a.button.ghost {
  border-color: #fff; }

.bg-vcg .border {
    border-color: white !important;
}

.bg-vcg .border li {
    border-color: white !important;
}

.bg-nsr {
    background-color: #011639;
    color: #FFF;
    text-shadow: 0 1px 0 #013;
}

.bg-nsr select,
.bg-nsr textarea,
.bg-nsr .button,
.bg-nsr button,
.bg-nsr button:hover,
.bg-nsr input,
[class*='bg-gradient-'] .button,
[class*='bg-'] a.button.ghost {
  border-color: #666; }

.bg-nsr .border {
    border-color: #666 !important;
}

.bg-nsr .border li {
    border-color: #666 !important;
}

.bg-tailored {
    background-color: #000000;
    color: #FFCC0D;
    text-shadow: 0 1px 0 #FFCC0D;
}

.bg-tailored select,
.bg-tailored textarea,
.bg-tailored .button,
.bg-tailored button,
.bg-tailored button:hover,
.bg-tailored input,
[class*='bg-gradient-'] .button,
[class*='bg-'] a.button.ghost {
  border-color: #666; }

.bg-tailored .border {
    border-color: #666 !important;
}

.bg-tailored .border li {
    border-color: #666 !important;
}

.bg-tailored i.fa {
    color: #FFF;
}

.bg-tailored svg {
    color: #FFF;
    fill: #FFF;
}

#webslides:hover #navigation a:hover {
    background-color: #6F0001 !important;
    color: #FFF;
}

h1, h2, h3 {
    font-family: 'Monad' !important;
}

p.text-intro {
    font-family: 'DIN Light Regular' !important;
}

.overlay h2 {
    font-family: Roboto, "San Francisco", helvetica, arial, sans-serif !important;
}

.tailored-btn {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #FFCC0D !important;
    text-shadow: none !important;
    box-shadow: 0 10px 16px -8px rgba(255, 204, 13, 0.30) !important;
    -webkit-box-shadow: 0 10px 16px -8px rgba(255, 204, 13, 0.30) !important;
}

.centered {
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
}

#tailoredGold {
    margin-bottom: 15px;
    margin-top: -10px;
}

/*.client-thumbnail {
    max-height: 100px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}*/
